<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">Slide 1
        asfdsaf<br />
        <h1>rrr</h1>
        <p>fff</p>
      </div>
      <div class="swiper-slide">Slide 2
        asfdsaf<br />
        <h1>dddd</h1>
        <p>dddd</p>
        <img src="http://mat1.gtimg.com/pingjs/ext2020/qqindex2018/dist/img/qq_logo_2x.png">
      </div>
      <div class="swiper-slide">Slide 3
        ppp<br />
        <h1>www</h1>
        <p>zzz</p>
      </div>
    </div>
  </div>
</ion-content>
