<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="planet"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Headline News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" *ngFor="let article of data?.articles">
        <!-- <ion-slide> -->
        <ion-card-content>
          <ion-img [src]="article.urlToImage"></ion-img>
          <ion-card-title>{{article.title}}</ion-card-title><br />
          <p>{{article.content}}</p>
        </ion-card-content>
        <!-- </ion-slide> -->
      </div>
    </div>
  </div>
</ion-content>